.toolbar {
  background-image: linear-gradient(90deg, #dc3535 0%, #530000 100%);

}

.example-spacer {
  flex: 1 1 auto;
}

.mat-raised-button {
  margin-right: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
}
