.example-card {
  max-width: 250px;
}

.example-header-image {
  background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202011/0204/zHu3tLsbAVgM7fRURgPpVHVs.jpg');
  background-size: cover;
}

.image-card
{
  height: auto;
  aspect-ratio: 1/1;
}
.actions-card-delete {
  float:right;
  margin-right: 25px;
}